name: "Get Logs"

on:
  workflow_dispatch:

jobs:
  get-logs:
    runs-on: ubuntu-latest
    steps:
      - name: Get logs from docker
        uses: appleboy/ssh-action@master
        with:
          host: fridge-manager.schaefer-inet.de
          #Set App Name (replace "example" with "alpha"-"tango")
          username: ben
          password: ${{ secrets.SSH_PASSWORD }}
          #Set App Name (replace "example" with "alpha"-"tango")
          script: |
            docker logs fridge-manager
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v3
        with:
          #Set App Name (replace "example" with "alpha"-"tango")
          url: http://fridge-manager.schaefer-inet.de
          max-attempts: 3
          retry-delay: 5s
          retry-all: true